/*
 * Overrides some of Scribble's default stying to match CloudLab's colors
 */

@import url(http://www.cloudlab.us/fonts/fira/fira.css);

.navsettop, .navsetbottom, .tocset {
    background-color: #5e8a90;
    color: white;
}

.navsettop, .navsetbottom, .tocset td a {
    color: white;
}

.tocset td a.tocviewselflink {
    color: inherit;
    font-weight: bolder;
}

.navsettop a, .navsetbottom a {
    color: inherit;
}

.navsettop .nonavigation, .navsetbottom .nonavigation {
    color: #bbb;
}

.navsettop a:hover, .navsetbottom a:hover {
    background: #024750;
}

.tocviewsublist, .tocviewsublistonly, .tocviewsublisttop, .tocviewsublistbottom {
    border-left: 1px solid #bbb;
}

.refcolumn {
    background: #e8ebef;
    border-color: #2f64ad; 
}

/*
 * Override some of the default fonts
 */

body, .main {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
}

b {
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Fira Sans', serif;
    font-weight: 500;
}

.SAuthorListBox {
    font-family: 'Fira Sans', serif;
    font-weight: 400;
}

.tocset td, .navsettop, .navsetbottom {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
}
